<?xml version="1.0"?>
<config>
    <modules>
        <AtlanticBT_LimitSearchSuggestions>
            <version>1.0.0</version>
        </AtlanticBT_LimitSearchSuggestions>
    </modules>
    <global>
        <helpers>
            <atlanticbt_limitsearchsuggestions>
                <class>AtlanticBT_LimitSearchSuggestions_Helper</class>
            </atlanticbt_limitsearchsuggestions>
        </helpers>
        <models>
            <atlanticbt_limitsearchsuggestions>
                <class>AtlanticBT_LimitSearchSuggestions_Model</class>
                <resourceModel>atlanticbt_limitsearchsuggestions_resource</resourceModel>
            </atlanticbt_limitsearchsuggestions>
            <atlanticbt_limitsearchsuggestions_resource>
                <model>AtlanticBT_LimitSearchSuggestions_Model_Resource</model>
            </atlanticbt_limitsearchsuggestions_resource>
            <catalogsearch_resource>
                <rewrite>
                    <query_collection>AtlanticBT_LimitSearchSuggestions_Model_Resource_Query_Collection</query_collection>
                </rewrite>
            </catalogsearch_resource>
            <catalogsearch>
                <rewrite>
                    <resource_query_collection>AtlanticBT_LimitSearchSuggestions_Model_Resource_Query_Collection</resource_query_collection>
                    <query>AtlanticBT_LimitSearchSuggestions_Model_Query</query>
                </rewrite>
            </catalogsearch>
        </models>
    </global>
    <default>
        <atlanticbt_limitsearchsuggestions>
            <config>
                <active>0</active>
                <limit>10</limit>
            </config>
        </atlanticbt_limitsearchsuggestions>
    </default>
</config>